body {
    background-color: greenyellow;
}
h1 {
    border-radius: 20px;
    color:purple;
    background: #f59e07;
    margin: 20px;
    border-width: 20px;
    border-color: blue;
    border-style: groove;
    padding: 25px;
    text-align: center;
    /* fuentes por default: sefir, sans-serif, cursive, fantasy, monospace */
    font-family: "Roboto Serif" sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "GRAN" 0;

}

img {
    width: 400px;
    border-radius: 50%;